*{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
 }
 
 body{
     background-color: rgb(197, 127, 197);
 }
 h1{
    background-color:#7a4376;
     text-align: center;
     font-size: 50px;
     color: lightpink;
     text-shadow: 5px 5px 4px lightcoral;
 }
 h2{
     font-size: 50px;
     color: lightpink;
     text-shadow: 5px 5px 4px lightcoral;
 }

 li{ font-size: 1em;

 }

 p{
     color: black;
 }

 ul{
    font-size: 1.2em;
    color:rgb(224, 209, 190);
 }


 *{
     text-align: justify;
 }